
/* DrpDwnInputs */

h1 {
    padding-bottom: 4px;
}

.drpdwn-section {
    align-items: center;
    display: block;
    padding-left: 10rem;
}


.input-div {
    width: 80%;
    height: 66px;
    display: flex;
    flex-direction: column;
}

.input-div label {
    order: -1;
    padding-left: 10px;
    padding-bottom: 2px;
}

.custom-input {
    height: 30px;
    padding-left: 10px;
}

.custom-input-2 {
    height: 30px;
    padding-left: 10px;
}
/* DataInputs */

.data-inputs-container {
    margin: auto;
    padding-left: 5rem;
}




/* Submit Continer */ 

.submit-container {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}


/* Login Comp */


.login-container {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
}