
/* DrpDwnInputs */

h1 {
    text-align: center;
    padding-bottom: 4px;
}

.machine_details {
    width: 100%;
    height: 150px;
    margin-top: 5rem;
}


.input-div {
    width: 400px;
    height: 66px;
    display: flex;
    flex-direction: column;
}

.input-div label {
    order: -1;
    padding-left: 10px;
    padding-bottom: 2px;
}

.custom-input {
    height: 30px;
    padding-left: 10px;
}

.custom-input-2 {
    height: 30px;
    padding-left: 10px;
}
/* DataInputs */

.pd-bi-m-container {
    width: 100%;
    height: 450px;
}

section {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}


/* Submit Continer */ 

.submit-container {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}


/* Login Comp */


.login-container {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .machine_details {
        width: 500px;
        margin: auto auto;
    }
    .pd-bi-m-container {
        width: 500px;
        height: 450px;
        margin: auto auto;
    }
    .measurements {
        width: 100%;
        height: 100px;
        display: block;
        justify-content: center;
    }
    .input-div {
        width: 100%;
        height: 66px;
        display: flex;
        flex-direction: column;
    }
    .submit-container {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 75px;
    }
    
    .input-div label {
        order: -1;
        padding-left: 10px;
        padding-bottom: 2px;
    }
}


@media screen and (max-width: 600px) {
    .machine_details {
        width: 300px;
        margin: auto;
        margin-bottom: 7rem;
    }
    .product-details {
        width: 100%;
        height: 250px;
        display: block;
    }
    .md-section {
        width: 300px;
        height: 250px;
        display: block;
    }
    .pd-bi-m-container {
        width: 300px;
        height: 600px;
    }
    .measurements {
        width: 100%;
        height: 250px;
        display: block;
    }
    .input-div {
        width: 100%;
        height: 66px;
        display: flex;
        flex-direction: column;
    }
    .submit-container {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px;
    }
    
    .input-div label {
        order: -1;
        padding-left: 10px;
        padding-bottom: 2px;
    }
}