* {
    margin: 0;
}

.main .main-container {
    display: grid;
    grid-template-columns: (2, 1fr);
}

.main-container h1,
.main-container label, 
.main-container p,
.main-container h3 {
    color: rgb(27, 27, 27);
    font-family: Roboto;
}

.main-container h1 {
    margin-top: 10px;
    margin-bottom: 0px;
}

@media (min-width: 768px){
    .main-container {
     margin: auto;
    }
 }