body {
    margin: 0px;
    background-color: rgba(36, 35, 36, 0.932);
}

.main .main-container {
    display: grid;
    grid-template-columns: (2, 1fr);
}

.main-container h1,
.main-container label, 
.main-container p,
.main-container h3 {
    color: aliceblue;
}

@media (min-width: 768px){
    .main-container {
     width: 100%;
     margin: auto;
    }
 }